<h1>Hello hot nurse!</h1>
<ul>
{{{resitations}}}
</ul>
<label for="f_name">Name:</label>
<input type="text" id="f_name" placeholder="Your First Name"></input>
<input type="text" id="l_name" placeholder="Your Last Name"></input></br>
<label for="kth_id">Email</label>
<input type="text" id="kth_id" placeholder="Your KTH-mail Name"></input>