<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="/favicon.png">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Angelinas awesome super mega project recitation mega mega</title>
	</head>
	<body>
		{{{body}}}
	</body>
</html>