<h1>Welcome!</h1>
{{#if flashmsg}}
<p style="color:red">Wrong input</p></br>
{{/if}}
<form method="post" action="/login" >
	<label for="kth_id">Email: </label>
	<input name="kth_id" type="text" class="email" id="kth_id" placeholder="Your KTH-mail Name"></input> </br>
	<label for="Password">Password: </label>
	<input name="password" type="password" class="passwd" id="pwd" placeholder="Password"></input>
	
	<input type="submit" id="subsub" value="Login"></input>
</form>