#rec_parent {
	display: flex;
}

#group {
	flex: 0.25;
	background: lightblue;
	padding: 10px;
}

#rec {
	flex: 0.25;
	background: lightgreen;
	padding: 10px;
}

#boxes {
    width: 25%;
    margin: 0 auto; 
}

form input[type="submit"]{
    width:80px;
    height: 40px;
    font-size: 20px;
}

#q_parent {
	display: flex;
}

#Q1 {
	flex: 0.25;
	background: lightgreen;
}
#Q2 {
	flex: 0.25;
	background: lightblue;
}
#Q3 {
	flex: 0.25;
	background: lightpink;
}
/*
body {

	align-items: center;
	justify-content: center;
}*/